/* Error: compound selectors may no longer be extended.
 * Consider `@extend .man, :before` instead.
 * See http://bit.ly/ExtendCompound for details.
 * 
 *      ,
 * 2023 |         @extend .man:before;
 *      |                 ^^^^^^^^^^^
 *      '
 *   style.scss 2023:17  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: compound selectors may no longer be extended.\a Consider `@extend .man, :before` instead.\aSee http://bit.ly/ExtendCompound for details.\a\a      \2577 \a 2023 \2502          @extend .man:before;\a      \2502                  ^^^^^^^^^^^\a      \2575 \a   style.scss 2023:17  root stylesheet";
}
